@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry-grid {
    column-count: 4;
    column-gap: 1.5rem;
}
@media (max-width: 1024px) {
    .masonry-grid {
        column-count: 3;
    }
}
@media (max-width: 768px) {
    .masonry-grid {
        column-count: 2;
    }
}
@media (max-width: 480px) {
    .masonry-grid {
        column-count: 1;
    }
}
.masonry-item {
    break-inside: avoid;
    margin-bottom: 1.5rem;
}
